$dkgrey: #5B5B5B;
$medgreen: #98C9A3;
// $ltgreen: #B2D8AF;
$ltgreen: #A1C99D;
$white: #F9F9F9;
// $white: #FAFAF2;
$pink: #EB9486;
$black: #171717;
$yellow: #EFCB35;





// $grblue: #5EAFBD;
// $grorange: #EE7B42;
// $gryellow: #F2EA29;
// $grwhite: #FFFFFF;
// $grgrey: #C8D6D5;
// $grpurple: #ECEBF2;