
@media screen and (min-width: 1200px) {



	@mixin font($em){
	    font-size: ($em*16) + px;
	    font-size: ($em) + em;
	}

// ===============================
// Header
// ===============================

	header {
		height: 100px;
		.nav-collapse {
			@include font(1.5);
			width: 250px;
			margin-top: 78px;
			padding-right: 5%;
		}
		.logo {
			top: 53px;
			left: 7%;
		}
		h1 {
			padding-left: 15%;
		}
		span {
			@include font(.8);
		}
		nav {
			float: right;
			padding-right: 8%;
			li {
				display: inline;
				margin-right: 5%;
			}
			a {text-decoration: none;
				color: $white;
			}
			a:active {
				color: $pink;
			}
		}	
	}

// ===============================
// All Projects
// ===============================

	.wall {
		background: url("../images/wall4.jpg");
		background-size: cover;
		height: 1320px;
	}

	.all-projects {
		text-align: center;
		padding-top: 160px;
		margin-bottom: 50px;
		.project {
			display: inline;
			img {
				width: 275px;
				border-radius: 200px;
				margin: 3% 3%;
				border: 10px solid $dkgrey;
				-webkit-filter: grayscale(1);
	  			filter: grayscale(1);
	  			-webkit-filter: grayscale(1);
				-moz-filter: grayscale(1);
				-o-filter: grayscale(1);
				-ms-filter: grayscale(1);
	  		}
			img:hover {
				filter: grayscale(0);
				-webkit-filter: grayscale(0);
				-moz-filter: grayscale(0);
				-o-filter: grayscale(0);
				-ms-filter: grayscale(0);
			}	
			
		}
	}

// ===============================
// Single Project
// ===============================

	.project {
		padding-top: 150px;
		padding-bottom: 100px;
		margin: 0 auto;
		text-align: center;
		width: 70%;
		h2 {
			color: $ltgreen;
			@include font(3);
		}
		p {
			color: $black;
			text-align: left;
			margin: 20px auto;
			width: 70%;
		}
		a {
			text-decoration: underline;
			color: $black;
		}
		a:hover {
			color: $pink;
		}
		.desktop {
			width: 500px;
			margin: 60px;
		}
		.desktop2 {
			width: 100%;
			margin: 60px auto;
		}
		.phone {
			width: 33%;
			margin: 30px 45px;
		}
	}

// ===============================
// Blog
// ===============================

	.entries {
		// padding-top: 200px;
		padding-bottom: 550px;
		h3 {
		}
			.preview {
				width: 26%;
				margin: 0 3%;
				vertical-align: top;
				h2 {
					@include font(1.5);
				}
			}	
		
	}

// ===============================
// Post
// ===============================


// ===============================
// About
// ===============================

	.cat {
		background: url("../images/cat.jpg");
		background-size: cover;
		height: 1000px;
		width: 100%;
	}

	.about-me-intro {
		width: 500px;
		position: relative;
		top: 175px;
		left: 55%;
		p {
			color: $black;
			margin-top: -25px;
			margin-left: 270px;
		}
	}

// ===============================
// Footer
// ===============================

	footer {
		.details {
			h2 {
				margin-bottom: 5px;
			}
			.about {
				width:250px;
				display: inline-block;
			}
			.contact {
				display: inline-block;
				margin: 0 190px;
			}
			.follow {
				// width: 25%;
				display: inline-block;
				img {
					margin-top: 4px;
				}
				img:hover {
					filter: saturate(0%);
					-webkit-filter: saturate(0%);
					-moz-filter: saturate(0%);
					-o-filter: saturate(0%);
					-ms-filter: saturate(0%);
				}
			}
		}
	}
// ===============================
// GR Redesign
// ===============================

	.style-guide {
		padding-top: 130px;
		width: 70%;
		margin: 0 auto;
		.row {
		}
	}

}




