@media screen and (min-width: 1000px) {

@mixin font($em){
    font-size: ($em*16) + px;
    font-size: ($em) + em;
}


// ===============================
// Header
// ===============================

header {
	.logo {
	}
	h1 {
		padding-left: 15%;
	}
}



}

