@media screen and (min-width: 800px) {

@mixin font($em){
    font-size: ($em*16) + px;
    font-size: ($em) + em;
}


// ===============================
// Header
// ===============================

header {
	height: 105px;
	padding-bottom: 15px;
	.nav-collapse {
		font-family: "jaf-bernina-sans-condensed",sans-serif;
		@include font(.8);
		width: 200px;
		margin-top: 5px;
		padding-right: 2%;
	}
	.logo {
		position: relative;
		top: 50px;
		left: 5%;
		margin: 0;
	}
	h1 {
		text-align: left;
		line-height: 0;
		padding-left: 17%;
		padding-bottom: 6px;
	}
	span {
		@include font(.6);
	}
	nav {
		float: right;
		padding: 0 2% 0 0;
		li {
			margin: 0 1%;
		}
	}	
}

// ===============================
// Projects
// ===============================

.wall {
	background: url("../images/wall4.jpg");
	background-size: cover;
	height: 1320px;
}

.all-projects {
	text-align: center;
	padding-top: 160px;
	margin-bottom: 50px;
	.project {
		display: inline;
		img {
			width: 275px;
			border-radius: 200px;
			margin: 3% 3%;
			border: 10px solid $dkgrey;
			-webkit-filter: grayscale(1);
  			filter: grayscale(1);
  			-webkit-filter: grayscale(1);
			-moz-filter: grayscale(1);
			-o-filter: grayscale(1);
			-ms-filter: grayscale(1);
  		}
		img:hover {
			filter: grayscale(0);
			-webkit-filter: grayscale(0);
			-moz-filter: grayscale(0);
			-o-filter: grayscale(0);
			-ms-filter: grayscale(0);
		}	
		
	}
}

// ===============================
// Blog
// ===============================

.pillows {
	background: url("../images/pillows.jpg");
	background-size: cover;
	padding-top: 150px;
	background-repeat: no-repeat;
}

.entries {
	padding-top: 50px;
	padding-bottom: 550px;
	h3 {
	}
	.row {
		.preview {
			width: 35%;
			margin: 0 6%;
			h2 {
			}
		}	
	}
}

// ===============================
// Post
// ===============================

.post-title {
	padding-top: 130px;
}

// ===============================
// Project
// ===============================

.project {
	padding-top: 200px;
	padding-bottom: 100px;
	margin: 0 auto;
	text-align: center;
	width: 70%;
	h2 {
		color: $ltgreen;
		@include font(3);
	}
	p {
		color: $black;
		text-align: left;
		margin: 20px auto;
		width: 70%;
	}
	a {
		text-decoration: underline;
		color: $black;
	}
	a:hover {
		color: $pink;
	}
	.desktop {
		width: 500px;
		margin: 60px;
	}
	.desktop2 {
		width: 100%;
		margin: 60px auto;
	}
	.phone {
		width: 33%;
		margin: 0 60px;
	}
}

// ===============================
// About
// ===============================

.cat {
	background: url("../images/cat.jpg");
	background-size: cover;
	height: 1000px;
	width: 100%;
}

.about-me-intro {
	width: 500px;
	position: relative;
	top: 175px;
	left: 55%;
	p {
		color: $black;
		margin-top: -25px;
		margin-left: 270px;
	}
}

// ===============================
// Footer
// ===============================




}

