@media screen and (min-width: 1000px) {

@mixin font($em){
    font-size: ($em*16) + px;
    font-size: ($em) + em;
}


// ===============================
// Header
// ===============================

header {
	position: fixed;
	width: 100%;
	height: 105px;
	padding-bottom: 15px;
	.logo {
		position: relative;
		top: 50px;
		left: 5%;
		margin: 0;
		border: 5px solid $ltgreen;
	}
	h1 {
		// display: inline;
		text-align: left;
		line-height: 0;
		padding-left: 15%;
		padding-bottom: 6px;
		// background-color: red;
	}
	nav {
		// text-align: right;
		float: right;
		padding: 0 2% 0 0;
		// background-color: blue;
		li {
			display: inline;
			margin: 0 1%;
			font-weight: normal;
		}
	}	
}

// ===============================
// Projects
// ===============================

.wall {
	background: url("../images/wall4.jpg");
	background-size: cover;
	height: 1320px;
}

.all-projects {
	text-align: center;
	padding-top: 160px;
	margin-bottom: 50px;
	.project {
		display: inline;
		img {
			width: 275px;
			border-radius: 200px;
			margin: 3% 3%;
			border: 10px solid $dkgrey;
			-webkit-filter: grayscale(1);
  			filter: grayscale(1);
  			-webkit-filter: grayscale(1);
			-moz-filter: grayscale(1);
			-o-filter: grayscale(1);
			-ms-filter: grayscale(1);
  		}
		img:hover {
			filter: grayscale(0);
			-webkit-filter: grayscale(0);
			-moz-filter: grayscale(0);
			-o-filter: grayscale(0);
			-ms-filter: grayscale(0);
		}	
		
	}
}

// ===============================
// Blog
// ===============================

.pillows {
	background: url("../images/pillows.jpg");
	background-size: cover;
	padding-top: 150px;
	background-repeat: no-repeat;
}

section {
	// padding-top: 200px;
	padding-bottom: 550px;
	h3 {
		text-align: center;
		margin-bottom: 25px;
	}
	.row {
		margin-bottom: 60px;
		.preview {
			width: 20%;
			display: inline-block;
			margin: 0 2.4%;
			vertical-align: top;
			h2 {
				color: $ltgreen;
				margin-bottom: 10px;
			}
			h2:hover {
				color: $pink;
			}
			p {
				color: $black;
			}
		}	
	}
}

// ===============================
// Post
// ===============================

.blog-title {
	padding-top: 200px;
	padding-bottom: 100px;
	margin: 0 auto;
	width: 70%;
	h2 {
		color: $ltgreen;
		@include font(3);
	}
	p {
		color: $black;
	}
}

// ===============================
// Project
// ===============================

.project {
	padding-top: 200px;
	padding-bottom: 100px;
	margin: 0 auto;
	text-align: center;
	width: 70%;
	h2 {
		color: $ltgreen;
		@include font(3);
	}
	p {
		color: $black;
		text-align: left;
		margin: 20px auto;
		width: 70%;
	}
	a {
		text-decoration: underline;
		color: $black;
	}
	a:hover {
		color: $pink;
	}
	.desktop {
		width: 500px;
		margin: 60px;
	}
	.desktop2 {
		width: 100%;
		margin: 60px auto;
	}
	.phone {
		width: 33%;
		margin: 0 60px;
	}
}

// ===============================
// About
// ===============================

.cat {
	background: url("../images/cat.jpg");
	background-size: cover;
	height: 1000px;
	width: 100%;
}

.about-me-intro {
	width: 500px;
	position: relative;
	top: 175px;
	left: 55%;
	p {
		color: $black;
		margin-top: -25px;
		margin-left: 270px;
	}
}

// ===============================
// Footer
// ===============================

footer {
	// position:fixed;
 //  	left:0px;
 //  	bottom:0px;
 //  	height:350px;
  	width:100%;
	background-color: $dkgrey;
	border-top: 8px solid $ltgreen;
	padding: 25px;
	.details {
		width: 90%;
		text-align: center;
		margin-top: 20px;
		h2 {
			margin-bottom: 5px;
			color: $pink;
		}
		.about {
			text-align: left;
			vertical-align: top;
			margin-bottom: 35px;
			.link {
				color: $ltgreen;
				@include font(1);
			}
		}
		.contact {
			text-align: left;
			vertical-align: top;
			margin-bottom: 35px;
			}		
		.follow {
			text-align: left;
			vertical-align: top;
			margin-bottom: 35px;
			img {
				width: 40px;
				margin-right: 10px;
				margin-top: 6px;
			}
			img:hover {
				filter: saturate(0%);
				-webkit-filter: saturate(0%);
				-moz-filter: saturate(0%);
				-o-filter: saturate(0%);
				-ms-filter: saturate(0%);
			}
		}
	}
}

}

